%h2
  Shweeet!
  %br
  %small
    Now lets build something awesome!

%h3 Your devices

%table
  - if @account.devices.empty?
    %tbody
      %tr
        %td You do not have any devices yet
  - else
    %thead
      %th Created at
      %th Token
    %tbody
      - @account.devices.reverse.each do |device|
        %tr
          %td= timeago_tag device.created_at
          %td
            %code= device.token

%h3
  Add this to your iOS app in the
  %code AppDelegate.m
  file just under
  %code @interface AppDelegate ()

%pre
  %code.objectivec
    :preserve
      @property NSData *deviceToken;
      @property NSMutableData *responseData;

%h3
  In the
  %code didFinishLaunchingWithOptions
  method add this -

%pre
  %code.objectivec
    :preserve
      UIUserNotificationType types = UIUserNotificationTypeAlert | UIUserNotificationTypeBadge | UIUserNotificationTypeSound;
      UIUserNotificationSettings *settings = [UIUserNotificationSettings settingsForTypes:types categories:nil];
      [application registerUserNotificationSettings:settings];

      [application registerForRemoteNotifications];

%h3 Finally add these methods to the same file

%pre
  %code.objectivec
    :preserve
      - (void)application:(UIApplication *)application didRegisterForRemoteNotificationsWithDeviceToken:(NSData *)deviceToken {
          NSLog(@"Registered with token: %@", deviceToken);
          self.deviceToken = deviceToken;
          [self postDeviceToken];
      }

      - (void)application:(UIApplication *)application didFailToRegisterForRemoteNotificationsWithError:(NSError *)error {
          NSLog(@"Error: %@", error);
      }

      - (void)postDeviceToken {
          NSLog(@"Hello");
          NSURL *url = [NSURL URLWithString:@"http://#{request.host}/accounts/#{@account.uid}/devices"];
          NSMutableURLRequest *request = [[NSMutableURLRequest alloc] initWithURL:url];
          request.HTTPMethod = @"POST";
          NSString *key = @"device[token]";
          NSString *value = [NSString stringWithFormat:@"%@", self.deviceToken];
          NSString *body = [NSString stringWithFormat:@"%@=%@", [key stringByAddingPercentEscapesUsingEncoding:NSUTF8StringEncoding], [value stringByAddingPercentEscapesUsingEncoding:NSUTF8StringEncoding]];
          request.HTTPBody = [body dataUsingEncoding:NSUTF8StringEncoding];
          NSURLConnection *connection = [[NSURLConnection alloc] initWithRequest:request delegate:self];
          [connection start];
      }

      - (void)connection:(NSURLConnection *)connection didReceiveResponse:(NSURLResponse *)response {
          // A response has been received, this is where we initialize the instance var you created
          // so that we can append data to it in the didReceiveData method
          // Furthermore, this method is called each time there is a redirect so reinitializing it
          // also serves to clear it
          NSLog(@"Recieving reponse");
          _responseData = [[NSMutableData alloc] init];
      }

      - (void)connection:(NSURLConnection *)connection didReceiveData:(NSData *)data {
          // Append the new data to the instance variable you declared
          [_responseData appendData:data];
      }

      - (NSCachedURLResponse *)connection:(NSURLConnection *)connection
                        willCacheResponse:(NSCachedURLResponse*)cachedResponse {
          // Return nil to indicate not necessary to store a cached response for this connection
          return nil;
      }

      - (void)connectionDidFinishLoading:(NSURLConnection *)connection {
          // The request is complete and data has been received
          // You can parse the stuff in your instance variable now
          NSLog(@"Finish loading");
          NSString *string = [[NSString alloc] initWithData:self.responseData encoding:NSUTF8StringEncoding];
          NSLog(@"Response: %@", string);
      }

      - (void)connection:(NSURLConnection *)connection didFailWithError:(NSError *)error {
          // The request has failed for some reason!
          // Check the error var
          NSLog(@"Failed");
      }

%h3 Push it like this!

%pre
  %code.json
    :preserve
      {
        "channel": "apn",
        "event": "message",
        "data": { "message": "Awesome push bro!", device: "abc123" }
      }

%h3 ...or push to everybody

%pre
  %code.json
    :preserve
      {
        "channel": "apn",
        "event": "message",
        "data": { "message": "Awesome push bro!" }
      }
